* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:2rem;
  width:100%;
  height:100vh;
  font-size: 2rem;
}

.wrapper.cold {
  
  background: linear-gradient(to right, #bbd2c5, #536976, #292e49);
  
}
.wrapper.hot {
  background: linear-gradient(to right, #22c1c3, #fdbb2d);
}

.current {
  background-color: rgba(255, 255, 255, .6);
  width:11em;
  text-align: center;
  border:1px solid rgba(0, 0, 0, .05);
  padding:2.5rem;
  border-radius: 15px;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, .1);
}

.current p {
  margin-bottom: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-w {
  font-size: 1.6rem;
}

.title {
  color:white;
}

p img {
  border:1px solid rgba(0, 0, 0, .08);
  width:18%;
  border-radius: 6px;
  margin:.5rem;
}

.forecast {
  display: flex;
  font-size: 1rem;
  border:1px solid rgba(0, 0, 0, .08);
  border-radius: 5px;;
  padding:.5rem;
  align-items: center;
  justify-content: space-evenly;
}
